---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob("../posts/*.md");

    const uniqueTags = [...new Set(posts.map((post) => post.frontmatter.tags).flat())];

    return uniqueTags.map((tag) => {
        const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag));

        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { posts } = Astro.props;
const { tag } = Astro.params;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with <em>{tag}</em>.</p>

    <ul>
        {posts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>
