---
const platform = "GitHub";
const username = "thejinbok";
---

<footer>
  <p>Learn more about my projects on <a href={`https://${platform}.com/${username}`} target="_blank">{platform}</a>!</p>
</footer>
